.ButtonBorderRed {
  padding: 8px 20px;
  width: fit-content;

  display: block;
  border: 2px solid var(--color-primary-red);
  border-radius: 20px;
  color: var(--color-white);

  font-family: var(--tt-commons-bold);
  font-size: 18px;

  cursor: pointer;
  transition: all .1s ease-in-out;
}

.ButtonBorderRed:hover {
  background-color: var(--color-primary-red);
}

.ButtonBorderRed:active {
  opacity: .8;
}

.ButtonBorderRed__without-hover {
  padding: 8px 20px;
  width: fit-content;

  display: block;
  border: 2px solid var(--color-primary-red);
  border-radius: 20px;
  color: var(--color-white);

  font-family: var(--tt-commons-bold);
  font-size: 18px;
}