.ButtonGradientRed {
  padding: 8px 20px;
  margin: auto;

  display: block;
  width: fit-content;
  background-color: var(--color-white);
  /*border: 2px solid var(--color-primary-red);*/
  border-radius: 10px;
  color: var(--color-black);

  font-family: var(--tt-commons-bold);
  font-size: 18px;

  cursor: pointer;

  transition: all .1s ease-in-out;
}