.NavBar {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: space-between;
  align-items: center;
}

.NavBar__logo img {
  width: 50%;
}

.NavBar__links {
  padding: 0;
  margin: 0;

  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.NavBar__links li {
  display: flex;
  align-items: center;
}

.NavBar__links li a {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: var(--tt-commons-bold);
  font-size: 18px;
}

.NavBar__links li a:hover {
  opacity: .8;
}
